body {
	background-color: #efeff4;
	padding: 10px;
}

.svg {
	/*border: 1px solid red;*/
	padding: 2%;
}

.bar {
  /*fill: red;*/
	fill: url(#temperature-gradient);
}

.bar:hover {
  fill: #ffcc00;
}

.x.path path {
  display: none;
}

.y.axis path {
	display: none;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 70px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: #efeff4;
    border: 1px solid #ff9500;
    border-radius: 8px;
    pointer-events: none;
}

/*.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
	stroke: none;
}
